{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>login</title>
    <link rel="stylesheet" href="{% static 'login/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'login/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'login/css/Login-Form-blue-Gradient-1.css' %}">
    <link rel="stylesheet" href="{% static 'login/css/Login-Form-blue-Gradient.css' %}">
    <link rel="stylesheet" href="{% static 'login/css/styles.css' %}">
</head>

<body>
    <section>
        <div class="lgp-hd">
            <h2><strong>MUKALEL’S SERENITY RESIDENCY</strong></h2>
            <h5><strong>login to view Dashboard</strong></h5>
        </div>
        <div class="container login-cont">
            <div class="row">
                <div class="col-10 col-sm-6 col-md-4 col-lg-4 offset-1 offset-sm-3 offset-md-4 offset-lg-4 login-col"><i class="icon ion-lock-combination"></i>
                    <form class="login-form" method="post">
                        {% csrf_token %}
                        <div class="form-group"><input class="form-control lg-frc" name="uname" id="uname" type="text" required="" placeholder="Enter User ID"></div>
                        <div class="form-group"><input class="form-control lg-frc" type="password" name="pswd" id="pswd" required="" placeholder="Enter Password"></div>
                        <div><label style="color: white">{{ msg }}</label></div>
                        <div class="form-group"><button class="btn btn-light btn-lg login-btn" type="submit"><strong>Login</strong></button></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'login/js/jquery.min.js' %}"></script>
    <script src="{% static 'login/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>